*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Helvetica;
    list-style: none;
    text-decoration: none;
}

/* Cabeçalho */

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    max-width: 125px;
    height: auto;
}
.nav-menu{
    display: flex;
}
.nav-menu a{
    color:#2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 600;
    transition: all .42 ease;
}

.nav-menu a:hover{
    color: darkorchid;
    border-bottom: 2px solid darkorchid;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color:#2c2c2c;
    font-size:25px;
    font-weight: 400;
    transition: all .42 ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: darkorchid;
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}

/* Responsividade */

@media(min-width:855px){
    #menu-icon{
        display: none;
    }
}

@media(max-width:1110px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
    .container{
       flex-direction: column;
       padding:10% 30%;
       margin-top: 30vh;
       
    }
    .right-side{
        min-width: 400px;
        margin-bottom: 200px;
        margin-bottom: 200px;
    }
    .left-side{
        margin-top:200px ;
        min-width: 500px;
        align-items: center;
    }
}

@media(max-width:855px){
    .nav-menu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .nav-menu a{
        display: block;
        margin: 18px 0;
    }
    .nav-menu.open{
        right: 0;
    }
}

/* Produto */

section{
    padding: 5% 10%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 75px);
    gap: 50px;
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.items{
    align-items: flex-end;
}
.select-image{
    max-width: 400px;
    overflow: hidden;
}
.select-image img{
    width: 100%;
    border-radius: 10px;
}
.images{
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    gap: 0.5rem;
}
.image img{
    max-height: 110px;
    width: 100%;
    border-radius: 10px;
}

/* Lado direito */

.right-side{
    gap: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 0 5px blueviolet;
}
.right-side h1{
    font-size: 27px;
}
.right-side p{
    color: rgb(148, 148, 148);
    font-size: 15px;
}
.price{
    font-size: 16px;
}
/* .amost{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color:rgb(212, 212, 212);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
} */
.button{
    display: inline-block;
    text-decoration: none;
    color:blueviolet;
    box-shadow: 0 0 7px;
    padding: 10px 35px;
    border-radius: 20px;
    font-size: 20px;
}